<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/">
        {#
        <img
          loading="lazy"
          decoding="async"
          src=""
          alt=""
          width="264"
          height="78"
        />
        #} SR22 LOGO
      </a>
      <p>
        MAIN BUSINESS DESCRIPTION (mirror any online profiles like gmb
        description)
      </p>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/other-content">Other Content</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/faq">FAQs</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Locations</h2>
          </li>
          <li>
            <a href="/locations/location-1">Location 1</a>
          </li>
          <li>
            <a href="/locations/location-1">Location 2</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/contact">
              {{client.address.city}} {{client.address.state}}
            </a>
          </li>
          <li>
            <a href="tel:{{client.phoneForTel}}">
              T: {{client.phoneFormatted}}
            </a>
          </li>
          <li>
            <a href="mailto:{{client.email}}">Click to Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="https://www.aarontonner.com" target="_blank" rel="noopener"
      >Aaron Tonner Web Solutions</a
    >
    <span class="copyright"> Copyright 2020 - Present</span>
  </div>
</footer>
